---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-teaser">
    {% if post.thumbnail %}
    <div class="post-img">
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.thumbnail | relative_url }}">
      </a>
    </div>
    {% endif %}

    <span>
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h1>
        <p class="meta">
          {{ post.date | date: "%B %d, %Y" }}
        </p>
      </header>

      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </span>
  </div>
  {% endfor %}
</div>

{% include pagination.html %}