{% if site.discus-identifier %}
<section class="comment-area">
  <div class="comment-wrapper">
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';
        this.page.identifier = '{{ page.url }}';
      };
      (function() {
          var d = document, s = d.createElement('script');
          s.src = 'https://{{ site.discus-identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>برای مشاهده دیدگاه‌ها باید جاوااسکریپت مرورگر خود را فعال کنید.</noscript>
  </div>
</section>
{% endif %}