<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta content="{{ site.title }}" property="og:site_name">
	<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
	<meta content="{% if page.title %}article{% else %}website{% endif %}" property="og:type">
	<meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" property="og:description">
	{% if page.url %}
		<meta content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" property="og:url">
	{% endif %}
	{% if page.date %}
		<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
	{% endif %}
	{% if page.img %}
		<meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}" property="og:image">
	{% elsif site.author-img %}
		<meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.author-img }}" property="og:image">
	{% endif %}

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicon/apple-touch-icon.png">

	<meta name="theme-color" content="#263959">
	<meta name="msapplication-navbutton-color" content="#263959">
	<meta name="apple-mobile-web-app-status-bar-style" content="#263959">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/font-awesome/css/font-awesome.min.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>