@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');

body, input, select, textarea, button, h1, h2, h3, h4, h5, h6, .button {
    font-family: 'Vazirmatn', sans-serif !important;
    direction: rtl;
    text-align: right;
}

#nav ul.links {
    padding-right: 0;
    float: right;
}

#nav ul.icons {
    padding-left: 0;
    float: left;
}
