---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/{% if site.author-img %}{{ site.author-img }}{% endif %}" alt="{{ site.author }}"></a>
      </div>
      <div class="author-name">{{ site.author }}</div>
      <p>{{ site.about-author }}</p>
    </div>
  </header>
  <footer>
    <section class="contact">
      <h3 class="contact-title">ارتباط با من</h3>
      <ul>
        {% if site.social-youtube %}
          <li class="youtube"><a href="https://youtube.com/{{ site.social-youtube }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-telegram %}
          <li class="telegram"><a href="https://t.me/{{ site.social-telegram }}" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-twitter %}
          <li class="twitter"><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="https://github.com/{{ site.social-github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{ site.social-email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section>
    <div class="copyright">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
    </div>
  </footer>
</aside>

<div class="content-box clearfix">
  {{ content }}
</div>